* {
    margin: 0;
    padding: 0
}
::selection {

    background: #000;
    color: #fff;
  }
body {
    margin: 0;
    font-family: 'Heebo', sans-serif;
}
#particles-js {
    background: linear-gradient(to bottom right, #215779, #226c9755);
    height: 100vh;
    width: 100%
}
.heading {
    position: absolute;
    text-align: left;
    margin-left: 100px;
    top: 30%;
    width: 100%;
}
.heading h1 {
    color: rgb(252, 252, 252);
    font-size: 70px;
}
.heading h3 {
    color: rgb(253, 253, 253);
    font-size: 30px;
}
.intro {
    background-color: white;
    height: 100vh;
    width: 100%;
    font-size: 10px 
}